.logoInstance,
.rectangle {
  align-self: stretch;
  position: relative;
  background-color: var(--color-mediumslateblue);
}
.rectangle {
  height: 120px;
  display: none;
  z-index: 0;
}
.logoInstance {
  height: 1px;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.collabment,
.tablersteamIcon {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.tablersteamIcon {
  height: 45.6px;
  width: 45.6px;
  overflow: hidden;
}
.collabment {
  display: inline-block;
  min-width: 98px;
}
.collabmentWrapper,
.logoColl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collabmentWrapper {
  flex-direction: column;
  padding: var(--padding-mini-4) 0 0;
}
.logoColl {
  flex-direction: row;
  gap: var(--gap-7xs-3);
}
.heading3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.listItem,
.listItem1 {
  position: relative;
  line-height: 21px;
}
.listItem {
  width: 42.6px;
  display: flex;
  align-items: center;
}
.listItem1 {
  align-self: stretch;
  white-space: nowrap;
}
.heading3GetStartedParent,
.lovedTrustedMobileApp {
  width: 47.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.heading3GetStartedParent {
  width: 83.5px;
  gap: var(--gap-lg);
}
.navigation1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.about,
.howItWorks,
.whyCollabment {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.fuelingInnovation {
  margin: 0;
}
.aboutHowItContainer {
  flex: 1;
  position: relative;
}
.lovedTrusted {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.mobileApp {
  margin: 0;
}
.lovedTrustedContainer {
  position: relative;
}
.aboutHowItWorksWhyCollabParent,
.almatyLabel,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.aboutHowItWorksWhyCollabParent {
  align-self: stretch;
  flex-direction: row;
}
.almatyLabel,
.navigation {
  flex-direction: column;
}
.navigation {
  align-self: stretch;
  gap: var(--gap-7xl);
}
.almatyLabel {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 149px;
  color: var(--color-gray-100);
}
.frameParent,
.signInLinkList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 360px;
  justify-content: flex-start;
  gap: var(--gap-28xl-5);
  font-size: var(--font-size-xs);
}
.signInLinkList {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.logoInstanceParent,
.signInLinkListWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.signInLinkListWrapper {
  width: 1420px;
  flex-direction: row;
  padding: 0 var(--padding-39xl);
  box-sizing: border-box;
  max-width: 100%;
}
.logoInstanceParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-15xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.cLlabment {
  height: 195px;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 121.1%;
  font-weight: 900;
  white-space: pre-wrap;
  display: inline-block;
}
.icon,
.icon1 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
  z-index: 1;
}
.icon {
  height: 235px;
  width: 458px;
  top: calc(50% - 117.5px);
  left: -33px;
}
.icon1 {
  height: 258px;
  width: 504px;
  right: -333px;
  bottom: -86px;
}
.footerInner,
.shapeContainer,
.shapeContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shapeContainer {
  position: relative;
  max-width: 100%;
}
.footerInner,
.shapeContainerWrapper {
  box-sizing: border-box;
  flex-shrink: 0;
}
.shapeContainerWrapper {
  width: 1566px;
  padding: var(--padding-xl) var(--padding-11xl);
  min-height: 301px;
  debug_commit: f6aba90;
}
.footerInner {
  align-self: stretch;
  padding: 0 0 0 var(--padding-5xl);
  max-width: 100%;
  font-size: var(--font-size-142xl-2);
  color: var(--color-darkslategray-300);
}
.almaty2024 {
  position: absolute;
  margin: 0 !important;
  bottom: -412px;
  left: calc(50% - 63px);
  font-size: var(--display-2-size);
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 126px;
}
.footer {
  height: 215px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-79xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm-8);
  color: var(--color-black1);
  font-family: var(--body-small-medium);
}
@media screen and (max-width: 1200px) {
  .signInLinkListWrapper {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .cLlabment {
    font-size: var(--font-size-45xl);
    line-height: 117px;
  }
}
@media screen and (max-width: 750px) {
  .signInLinkList {
    flex-wrap: wrap;
  }
  .logoInstanceParent {
    gap: var(--gap-mid);
  }
  .footer {
    height: auto;
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }
  .cLlabment {
    font-size: var(--font-size-21xl);
    line-height: 78px;
  }
  .almaty2024 {
    font-size: var(--body-normal-regular-size);
  }
  .footer {
    gap: var(--gap-5xl);
  }
}
