.memberProfile {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 819px;
  max-width: 100%;
}
.memberProfile,
.network,
.recommendations {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.recommendations {
  flex-direction: row;
  gap: 14px;
  max-width: 100%;
}
.network {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  padding: 130px 59px 115px 91px;
  box-sizing: border-box;
  gap: 63px;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
}
@media screen and (max-width: 1350px) {
  .memberProfile {
    flex: 1;
  }
  .recommendations {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .memberProfile {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .network {
    gap: 31px;
    padding-left: 45px;
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .network {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
