.frameChild {
  width: 713px;
  height: 229px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-lightsalmon);
  display: none;
  max-width: 100%;
}
.exploreTheLatest,
.findYourDream {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.findYourDream {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.exploreTheLatest {
  align-self: stretch;
  font-size: var(--other-16-18-m-size);
}
.featherBookmarkInstance,
.featherBookmarkInstanceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.featherBookmarkInstance {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.featherBookmarkInstanceWrapper {
  width: 491px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.searchJob {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.clockIconInstance {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
}
.clockIconInstance,
.mapPinInstance,
.mapPinInstanceWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mapPinInstance {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xs);
}
.mapPinInstanceWrapper {
  height: 35px;
  width: 119px;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.search {
  position: relative;
  font-size: var(--other-16-18-m-size);
  font-weight: 500;
  font-family: var(--other-16-18-m);
  color: var(--neutral-100);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.searchWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-2xl);
  background-color: var(--color-mediumslateblue);
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.searchWrapper:hover {
  background-color: var(--color-royalblue-100);
}
.frameParent,
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent {
  border-radius: var(--br-xs);
  background-color: var(--neutral-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-smi) var(--padding-9xs)
    var(--padding-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  font-size: var(--other-16-18-m-size);
  color: var(--color-gray-1400);
  font-family: var(--other-16-18-m);
}
.rectangleParent {
  border-radius: var(--br-base);
  background-color: var(--color-lightsalmon);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-mid) var(--padding-xl)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--neutral-100);
  font-family: var(--body-small-medium);
}
@media screen and (max-width: 725px) {
  .rectangleParent {
    gap: 17px 35px;
  }
}
@media screen and (max-width: 450px) {
  .findYourDream {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
