.frameChild {
  width: 711px;
  height: 315px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--neutral-100);
  display: none;
  max-width: 100%;
}
.almatyLabel {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-400);
  z-index: 1;
}
.mappinIcon {
  height: 59px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.seniorFrontendDeveloper {
  margin-bottom: -2px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.seniorFrontendDeveloperWrapper {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.kaspiKazakhstan {
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 20px;
  color: var(--color-dimgray-300);
  display: inline-block;
  min-width: 109px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.datePicker,
.datePickerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.datePickerWrapper {
  flex: 1;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 342px;
  max-width: 100%;
}
.featherIconsBookmark {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.mappinIconParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.phosphorIconsClock {
  height: 22px;
  width: 22px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.fullTime {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.squareShape {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.iconWorkExperience,
.year {
  position: relative;
  z-index: 1;
}
.iconWorkExperience {
  height: 22px;
  width: 22px;
}
.year {
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.iconWorkExperienceParent,
.yearWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.yearWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.iconWorkExperienceParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-4xs);
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.squareShapeParent {
  align-self: stretch;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.almatyCity,
.almatyCity1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.almatyCity1 {
  z-index: 2;
}
.almatyCityParent {
  flex-direction: column;
}
.almatyCityParent,
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.frameGroup {
  width: 226px;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.featherIconsMapPin {
  height: 21px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.almatyCity2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.almatyCityWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.almatyCityWrapper,
.featherIconsMapPinParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featherIconsMapPinParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frameDiv {
  height: 24px;
  width: 172px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.december2023 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 1;
}
.december2023Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.bookmarkInstance,
.frameParent,
.userPhotoInstance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-48xl);
}
.bookmarkInstance,
.userPhotoInstance {
  align-self: stretch;
}
.userPhotoInstance {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--body-small-regular-size);
}
.bookmarkInstance {
  flex-direction: column;
  gap: var(--gap-lg);
}
.frameItem {
  height: 1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.selectMonthBtnInner {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.solarwalletMoneyOutlineIcon {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 25px;
  z-index: 1;
}
.tg {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.solarwalletMoneyOutlineParent,
.tgWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tgWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.solarwalletMoneyOutlineParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frameWrapper2 {
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.phosphorIconsUsersthree {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
}
.phosphorIconsUsersthreeWrapper {
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.checkmarkIcon {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 18px;
  z-index: 1;
}
.confirmApplyButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.applied {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.confirmApplyButton1,
.frameParent2,
.profilePictureZone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirmApplyButton1 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frameParent2,
.profilePictureZone {
  flex-direction: row;
  gap: var(--gap-8xs);
}
.frameParent2 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper1 {
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.applyNow {
  position: relative;
  font-size: var(--other-16-18-m-size);
  font-weight: 500;
  font-family: var(--other-16-18-m);
  color: var(--neutral-100);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.applyNowWrapper,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.applyNowWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-mid) var(--padding-mini)
    var(--padding-2xl);
  background-color: var(--color-mediumslateblue);
  border-radius: var(--br-xs);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.applyNowWrapper:hover {
  background-color: var(--color-royalblue-100);
}
.frameParent1 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangleParent,
.selectMonthBtn,
.selectMonthBtnWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.selectMonthBtn {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.rectangleParent,
.selectMonthBtnWrapper {
  box-sizing: border-box;
}
.selectMonthBtnWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.rectangleParent {
  width: 711px;
  border-radius: var(--br-base);
  background-color: var(--neutral-100);
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-4xl) var(--padding-4xl)
    var(--padding-5xl);
  gap: var(--gap-9xl);
  text-align: left;
  font-size: var(--other-16-18-m-size);
  color: var(--color-gray-1500);
  font-family: var(--body-small-medium);
}
@media screen and (max-width: 725px) {
  .frameParent {
    flex-wrap: wrap;
    gap: 67px 33px;
  }
}
@media screen and (max-width: 650px) {
  .datePickerWrapper {
    min-width: 100%;
  }
  .frameParent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: 67px 17px;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
}
